<div class="overflow-x-auto">
    <div class="">


        <button  class="logout" (click)="logout()"  > Logout</button>
    </div>
    <div class="wrapper">
        <div class="options">
            <button  class="more_pokemons" (click)="getMorePokemons()"  > Traer mas pokemones</button>
            <input class="searchPokemon" type="buscar pokemon" (keyup)="searchPokemon($event)" >
        </div>
        <div class="pokemonDashboard">
            <div class="container_pokemon">
                <ul class="types_pokemons" >
                    <li *ngFor="let type of typesPokemon">
                        <button class="search_type" (click)="filterPokemonesByType(type)">{{type}}</button>
                    </li>
                </ul>
                <table class="table tablePokemon" >
                <thead>
                    <tr>
                    <th>
                        <label>
                        <input type="checkbox" class="checkbox" />
                        </label>
                    </th>
                    <th>Pokemon #1</th>
                    <th>Pokemon</th>
                    <th>Tipo</th>
                    <th>Ataques</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let pokemon of pokemonsFiltered" >
                    
                    <th>
                        <label>
                        <input type="checkbox" class="checkbox" (change)="savePreferences(pokemon)"  [checked]="isFavorite(pokemon.data.id)"/>
                        </label>
                    </th>
                    <td>{{pokemon.data.id}}</td>
                    <td>
                        <div class="flex items-center gap-3">
                        <div class="avatar">
                            <div class="mask mask-squircle h-12 w-12">
                            <img
                            width="100px"
                            height="100px"
                                src={{pokemon.data.sprites.other?.dream_world?.front_default}}
                                alt="Avatar Tailwind CSS Component" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">{{pokemon.data.name}}</div>
                        </div>
                        </div>
                    </td>
                    <td>
                        <br />
                        <span class="badge badge-ghost badge-sm">{{pokemon.data.types[0].type.name}}</span>
                    </td>
                    <td>
                        {{pokemon.data.stats[0].stat.name}}: {{pokemon.data.stats[0].base_stat}} 
                        <br>
                        {{pokemon.data.stats[1].stat.name}}: {{pokemon.data.stats[1].base_stat}} 
                        <br>
                        {{pokemon.data.stats[2].stat.name}}: {{pokemon.data.stats[2].base_stat}} 
                        <br>
                        {{pokemon.data.stats[3].stat.name}}: {{pokemon.data.stats[3].base_stat}} 

                    </td>
                    
                    </tr>
                    
                </tbody>
                
                </table>
            </div>
            <div class="preferences">
                <h1 style="font-weight: bold;  font-size: 25px;">Pokemones favoritos</h1>
                <ul *ngFor="let pokemon of pokemonsFavorites">
                    <li>

                        <img
                        width="100px"
                        height="100px"
                            src={{pokemon.image}}
                            alt="Avatar Tailwind CSS Component" />

                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
    